.App {
  text-align: center;
}

body {
  background-color: rgb(67, 147, 208);
  background-image: linear-gradient(to right, rgb(133, 197, 218) , rgb(57, 142, 208));
}

h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

.Images {
  max-width: 250px;
  align-self: auto;
  margin: 1% 2px;
  flex-grow: 1;
  vertical-align: middle;
}

.button {
  margin: 10px;
}